<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

        <title>About GeoLocate</title>
    </head>
    <body>
        <header>
            <div><h1>About Page for GeoLocate</h1></div>
            <div>
                <nav>
                    <span class="navi"><a href="/">HOME</a></span>
                    <span class="navi"><a href="/about/">ABOUT</a></span>
                </nav>
            </div>
        </header>

        <section>
            <p>
                Designed to display my understanding the Python programming language and Flask.
                
                This project utilizes Google Maps geojson api to filter and define a location for the user.
            </p>
        </section>
        <br>
        <br>
        <div><span class="copy">Copyright &copy;2017 Nathaniel Brown</span></div>
    </body>
</html>
