<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

        <title>About GeoLocate</title>
    </head>
    <body>
        <header>
            <div><h1>About Page for GeoLocate</h1></div>
            <div>
                <nav>
                    <span class="navi"><a href="/">HOME</a></span>
                    <span class="navi"><a href="/about/">ABOUT</a></span>
                </nav>
            </div>
        </header>
        <br>
        <hr>
        <br>
        <br>
        <section>
            <p>
                This web application was designed to display my understanding of the Python
                programming language and Flask.

                This project utilizes the Google Geocoding API to filter and define a location for
                the user.
            </p>
            <p>
                With minimal effort, such an application could be converted into a web survey that
                collects information from users about specific topics related to locations, to be
                used for data analysis.
            </p>
            <p>
                For more info on my projects,
                check me out on <a href="https://github.com/ngbrown11">GitHub</a>.
            </p>
        </section>
        <br>
        <br>
        <div><span class="copy">Copyright &copy;2017 Nathaniel Brown</span></div>
    </body>
</html>
